* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #999999;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #ffd12a;
}
.navbar {
  background-color: #ffc800;
}
#skill {
  background-color: #ffd12a;
}
section {
  padding-top: 5rem;
}
#blog {
  background-color: #ffd12a;
  padding-top: 4rem;
}

#medsos {
  text-align: center;
  padding-top: 5rem;
}

#contact_me {
  background-color: #ffd12a;
}
#blog {
  padding-top: 5rem;
}

.icons a {
  display: flex;
  justify-content: center;
  margin: auto;
}
.icons .bi {
  padding-right: 3px;
}
.icons .instagram {
  background-color: #e4405f;
}
.icons .facebook {
  background-color: #1877f2;
}

.icons .twitter {
  background-color: #1da1f2;
}
.icons .linkedin {
  background-color: #0077b5;
}

footer {
  background-color: #ffc800;
}
